html,body{margin:0;padding:0;}
body{font-family:'Lucida Grande',sans-serif;background:#a62424;}body input{text-align:center;height:100%;width:100%;background:#a62424;border:none;outline:none;box-shadow:none;color:#921010;font-size:50px;-moz-appearance:textfield;-webkit-appearance:textfield;appearance:textfield;}body input:focus{outline:none;border:none;}
body span{width:100%;font-size:12px;display:block;position:fixed;bottom:20px;text-align:center;color:#f4f4f2;}
